<div class="container">
<%= simple_form_for @recipe do |f| %>
  <%= f.input :title, label: 'Titre' %>
  <%= f.input :description, label: 'Description' %>
        <%= f.fields_for :ingredients do |ing| %>
            <%= ing.input :name, label: 'Ingrédient' %>
        <% end%>
        <%= f.fields_for :quantities do |q| %>
            <%= q.input :quantity, label: 'Quantité' %>
        <% end%>
        <%= f.fields_for :unities do |u| %>
            <%= u.input :unity, label: 'Unité' %>
        <% end%>

  <%= f.input :instruction, label: 'Instructions' %>
  <%= f.input :image, placeholder: "Entrer l'url de l'image" %>

  <%= f.button :submit, 'Ajouter ma recette' %>
<% end %>
</div>
