<div class="container">
  <%= form_with model: @recipe do |f| %>
    <!-- Recipe fields-->
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title %>
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description %>
    <!-- Recipe_ingredients fields-->
    <%= cocooned_container(data: { controller: 'cocooned'}) do %>
      <div id="add-element">
        <%= f.fields_for :recipe_ingredients do |ri| %>
          <%= render 'recipe_ingredient_fields', f: ri %>
        <% end %>
        <p><%= cocooned_add_item_link 'Ajouter un ingrédient', f, :recipe_ingredients %></p>
      <!--
      <%= f.fields_for :ingredients do |ing| %>
        <%= ing.label :name, "Ingrédient" %>
        <%= ing.text_field :name %>
      <% end %>
        <%= f.label :quantity, "Quantité" %>
        <%= f.text_field :quantity %>
        <%= f.label :unity, "Unité" %>
        <%= f.text_field :unity %>
      -->
    <% end %>
     </div>

    <!-- Recipe fields-->
    <%= f.label :instruction, "Instructions" %>
    <%= f.text_field :instruction %>
    <%= f.label :image, "Image" %>
    <%= f.text_field :image, placeholder: "Entrer l'url de l'image" %>
    <%= f.submit "Ajouter ma recette" %>
  <% end %>
</div>
