<div class="container">
<!-- Recipe fields -->
<%= simple_form_for @recipe do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>

   <!-- Recipe_ingredients fields -->
  <%= f.fields_for :recipe_ingredients do |ri| %>
    <%= f.fields_for :ingredients do |ing| %>
      <%= ing.label :name, "Ingrédient 1" %>
      <%= ing.text_field :name %>
    <% end %>
    <%= f.fields_for :quantities do |q| %>
      <%= q.label :quantity, "Quantité" %>
      <%= q.text_field :quantity %>
    <% end %>
    <%= f.fields_for :unities do |u| %>
      <%= u.label :unity, "Unité" %>
      <%= u.text_field :unity %>
    <% end %>
  <% end %>

   <!--Recipe fields-->
  <%= f.label :instruction, "Instructions" %>
  <%= f.text_field :instruction %>
  <%= f.label :image, "Image" %>
  <%= f.text_field :image, placeholder: "Entrer l'url de l'image" %>
  <%= f.submit "Ajouter ma recette" %>
<% end %>
</div>
