<div class="container">
<div id="recipe-title">
  <h1>
    <%= @recipe.title %>
  </h1>
</div>

<div id="recipe-description">
  <p>
  <%= @recipe.description %>
  </p>
</div>

<div id="recipe-image">
  <p>
  <%= image_tag @recipe.image, width: "50%", heigth: "50%" %>
  </p>
</div>

<div id="recipe-ingredients">
    <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient.ingredient.name %>: <%= recipe_ingredient.quantity %> <%= recipe_ingredient.unity %></li>
    <% end %>
    </ul>
</div>

<div id="recipe-instruction">
    <ul>
    <% @recipe.instructions.each do |instruction| %>
      <li>Étape <%= instruction.step %>: <%= instruction.instruction %></li>
    <% end %>
    </ul>
</div>


<br><br>
<%= link_to "Modifier la recette", edit_recipe_path %>
<br><br>
<%= link_to "Supprimer la recette",
  recipe_path(@recipe),
  data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr.e ?"}
%>
<br><br>
<%= link_to "Voir d'autres recettes", recipes_path %>
</div>



<!--
<h2><%= @recipe.title %></h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>
-->
